/* 
==============================================
ERIN MILLER - VUE FINAL PROJECT
==============================================
*/

@import 'reset';
@font-face { font-family: CS Sandreas; src: url('CS-Sandreas-Outline.otf'); } 
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');
* {
	box-sizing: border-box;
}

body {
	background: white;
}

.title {
	text-align: center;
	font-family: CS Sandreas;
	animation: blinker 2s linear infinite;
	font-size: 4em;
}
  
@keyframes blinker {
50% {
	opacity: 1;
}
50% {
	opacity: 0;
}
75% {
	opacity: 1;
	}
}

p {
	font-family: 'Raleway', sans-serif;
	padding: 30px 10px 10px 10px;
	width: 100vw;
	text-align: center;
}

a {
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
}

h1{
	padding-top: 20px;
	font-size: 35px;
	color:black;
}

label{
	display: flex;
    justify-content: center;
}

input {
	background:white;
    width: 50%;
    padding-top: 10px;
    margin: 0px 0;
    border: none;
    border-bottom: 2px solid #8ae5d5;
}







.btn-container {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	width: 50vw;
    padding-top: 20px;
  }
  button {
	font-family: 'Raleway', sans-serif;
	flex: 1 1 auto;
	margin: 10px;
	padding: 15px 15px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	border: 1px solid black;
	color: rgb(0, 0, 0);
	box-shadow: 0 0 20px #eee;
	border-radius: 2px;
   }

button:hover {
	background-position: right center; /* change the direction of the change here */
  }
  
button {
	background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
  }
	
/* phone view */

